{% extends 'mysite/base.html' %}
{% block title %} Редактирование статьи {% endblock %}
{% block body %}
    <h1>Редактировать статью</h1>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% load auth_extras %}
        {% if request.user.is_authenticated %}
            {% if request.user|has_group:"admins" or request.user|has_group:"editors" %}
                {{ form.topic }}<br>
                {{ form.title }}<br>
                {{ form.text }}<br>
                {{ form.image }}<br>
                <button type="submit">отредактировать</button>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}