{% extends 'mysite/base.html' %}
{% block title %} сайт {% endblock %}
{% block body %}
    {{ request.user }}<br>
    <br>
    <a href="{% url 'register' %}"><button>Регистрация</button></a>
    <a href="{% url 'login' %}"><button>Вход</button></a>
    <a href="{% url 'logout' %}"><button>Выход</button></a><br>
    <br>
    {% load auth_extras %}
    {% if request.user.is_authenticated %}
        {% if request.user|has_group:"admins" %}
            <a href="{% url 'edit_topics' %}"><button>Редактировать темы</button></a>
        {% endif %}
        {% if request.user|has_group:"admins" or request.user|has_group:"editors" %}
            <a href="{% url 'edit_articles' %}"><button>Редактировать статьи</button></a>
        {% endif %}
    {% endif %}
    <ul>
        <h3>темы</h3>
        {% for topic in topics %}
            <li>
                <a href="{% url 'topic' %}?id={{ topic.id }}">{{ topic }}</a>
            </li>
        {% endfor %}
        <h3><a href="{% url 'without_topic' %}">статьи без темы</a></h3>
    </ul>
{% endblock %}
