{% extends 'mysite/base.html' %}
{% block title %} сайт {% endblock %}
{% block body %}
    {{ request.user }}<br>
    <br>
    <a href="{% url 'register' %}"><button>Регистрация</button></a>
    <a href="{% url 'login' %}"><button>Вход</button></a>
    <a href="{% url 'logout' %}"><button>Выход</button></a><br>
    <br>
    <a href="{% url 'edit_topics' %}"><button>Редактировать темы</button></a>
    <a href="{% url 'edit_articles' %}"><button>Редактировать статьи</button></a>
<!--    {% if request.user.is_authenticated and request.user.is_staff %}-->

<!--    {% endif %}-->
    <ul>
        <b>темы</b>
        {% for topic in topics %}
            <li>{{ topic }}, {{ topic.author }}</li>
        {% endfor %}
    </ul>
{% endblock %}
