{% extends 'mysite/base.html' %}
{% block title %} сайт {% endblock %}
{% block body %}
    {{ request.user }}<br>
    <br>
    <a href="{% url 'register' %}"><button>Регистрация</button></a>
    <a href="{% url 'login' %}"><button>Вход</button></a>
    <a href="{% url 'logout' %}"><button>Выход</button></a><br>
    <br>
    {% load auth_extras %}
    {% if request.user.is_authenticated %}
        {% if request.user|has_group:"admins" %}
            <a href="{% url 'edit_topics' %}"><button>Редактировать темы</button></a>
        {% endif %}
        {% if request.user|has_group:"admins" or request.user|has_group:"editors" %}
            <a href="{% url 'edit_articles' %}"><button>Редактировать статьи</button></a>
        {% endif %}
    {% endif %}

<br><br>
<form action="{% url 'index' %}">
    <input type="search" placeholder="поиск.." name="search">
    <button type="submit">искать</button>
</form>

{% regroup article_list by topic as topics_list %}
<ul>
{% for topic in topics_list %}
    <li>{{ topic.grouper }}
        <ul>
            {% for article in topic.list %}
                <li><a href="{% url 'article' article.id %}">{{ article }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{% if article_list.has_other_pages %}
    {% if article_list.has_previous %}
        <a href="?page={{ article_list.previous_page_number }}" class="page-link">&laquo; предыдущая </a>
    {% endif %}
    {% if article_list.has_next %}
        <a href="?page={{ article_list.next_page_number }}" class="page-link"> следующая &raquo;</a>
   {% endif %}
{% endif %}
{% endblock %}
