{% extends 'mysite/base.html' %}
{% block title %} {{ topic }} {% endblock %}
{% block body %}
<h2>{{ topic }}</h2>
{% for article in articles %}
    <a href="{% url 'article' article.id %}">{{ article }}</a><br>
{% endfor %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
{% endif %}
{% endblock %}