{% extends 'mysite/base.html' %}
{% block title %} Редактирование тем {% endblock %}
{% block body %}
    <a href="{% url 'create_topic' %}"><button>добавить тему</button></a>
    <ul>
        <b>список тем</b>
        {% for topic in topics %}
            <li>
                {{ topic }}
                {% load auth_extras %}
                {% if request.user.is_authenticated %}
                    {% if request.user|has_group:"admins" %}
                        <a href="{% url 'update_topic' topic.id %}"><button>редактировать</button></a>
                        <a href="{% url 'delete_topic' topic.id %}"><button>удалить</button></a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
